
.test{
    height:300vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #34D399;
}
.szeroki{
    width:300% !important;
    transition: .3s;

}
.step-0{
    transform:translateX(0);
}
.step-1{
    transform:translateX(-33.333%);

}
.step-2{
    transform:translateX(-66.666%);
}
.general-div,.pricing-div,.personal-div{
    width:33.333%;
}

@media(min-width:640px){
    .szeroki{
        width:140vw;
    }
}
.step-one-visual{
    clip-path: polygon(59% 19%, 77% 52%, 61% 85%, 0 86%, 0 19%);
    

}
.step-two-visual{
    clip-path: polygon(0 19%, 59% 19%, 77% 52%, 61% 85%, 0 86%, 23% 51%);
}
.step-three-visual{
    clip-path: polygon(0 19%, 59% 19%, 77% 52%, 61% 85%, 0 86%, 23% 51%);
}
.filter-box{
    transform: translateX(-100%);
    transition: .3s;
}
.filter-translate{
    transform: translateX(0%);
}
.checked-item{
    border:3px solid black;
}
.splide__pagination{
    display:none !important;
}
.head-witamy{
    font-family: 'Caveat', cursive;
}
.after{
    position:relative;
}
.after::after{
    position: absolute;
    width:35%;
    height:100%;
    background:white;
    left:0;
    top:0;
    content: '';
}
p.shadowek{
    text-shadow: 1px 1px #999;
}